    <% if flash[:notice]%>
    <div class="container">
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= flash[:notice] %>
      </div>
    </div>
    <% elsif flash[:alert]%>
    <div class="container">
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= flash[:alert] %>
      </div>
    </div>
    <% end %> 